body {
  margin:0 auto;
  font-size: 1.875rem;
  line-height: 1.7;
  max-width: 58rem;
}

h2 {
  width: 100%;
  border-top: .125rem solid black;
  padding-top: .5rem;
}

img {
  max-width: 100%;
  height: auto;
}

table { 
  border: .125em solid black;
}

.head-logos {
  display: flex;
  justify-content: right;
}

header ol {
  list-style: none;
  margin: 0;
  margin-left: 6rem;
  padding: 0;
}

header ol li bdi {
  float: left;
  width: 6rem;
  margin-left: -6rem;
}

header ol ol {
  margin-left: 0;
}

header ol li li  {
  margin-left: 2rem;
}

header ol li li bdi {
  margin-left: -8rem;
}

header ol li li li bdi {
  margin-left: -10rem;
}

main > aside {
  margin-left: 4rem;
}

ul.unstyled {
  all: unset;
  list-style: none;  
  margin-left: 0;
}